<%= @users.name%>
<div><%= link_to "Back to Index", users_path %></div>
<div><%= link_to "Edit User", edit_user_path(@users)%></div>
<div><%= link_to "Delete this User", user_path(@users), method: "DELETE"%></div>
